.selectCard{
   display: flex;
   justify-content: center;
   align-items: center;
}

.band{
    color:cornflowerblue;
    text-decoration-line: underline;
    padding-bottom: 10px;
}
.musicIcon{
    color:indianred;
}