

.appContent{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.navHeader{
  background:cadetblue !important;
  height: 5vh;
}

.navIcons{
  margin-left: auto;
  padding-right: 50px;
  display: flex;
  flex-wrap: nowrap;
}
.signIn{
  padding-right: 10px;
  color:black;
}

.pageNotFoundContainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
 
}
.pageNotFound{
  font-size:50px;
  margin: 0 auto;
}
.pageNotFoundDesc{
  color: grey;
  font-size:30px;
  text-align: center;
}
.register{
  color:black;
}
.powerOffIcon{
  padding-left: 20px;
  font-size: 20px !important;
  cursor: pointer;
}
.settingsIcon{
  color: black;
  font-size: 20px !important;
  cursor: pointer;
}